body{
    /* websites have default margin and padding */
    margin: 0;
    padding: 0;
}

/* Navbar */
nav {
    /* fixed position on top */
    position: fixed; 
    /* position at the top of the page */
    top: 0;
    /* full width */
    width: 100%; 
    /* set background color to light gray */
    background-color: rgba(211, 211, 211, 0.5);
    /* some padding to give the navbar some height */
    padding: 2vh 0; 
    /* align the nav items in the center */
    text-align: right; 
}

nav a {
    /* give each link some space on left and right */
    margin: 0 15px; 
    /* remove underline */
    text-decoration: none; 
    /* set text color */
    color: black; 
    /* spacing from the right*/
    padding-right: 3vw;
    /* font size, using calc allows me to set a minumum font-size*/
    font-size: calc(15px + .5vw);
}

nav a:hover {
    color: gray;
    transition: color 0.5s ease;
}

/* Home */
#home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.fade-in-descend, .fade-in {
    opacity: 0;
}

@keyframes fade-in-descend {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in-descend {
    animation: fade-in-descend 2s ease forwards;
    font-size: calc(40px + 2vw); 
    margin-bottom: 20px; /* Adjust as needed */
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fade-in 2s ease 1s forwards; /* 1s delay so this fades in after the heading */
    font-size: calc(15px + 0.5vw); 
    margin-top: 20px; /* Adjust as needed */
  }
  
  /* About */
  .about-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
  }
  
  .profile-pic {
    width: 40%;
    border-radius: 20%; /* This will make your picture circular, feel free to remove if you prefer a different shape */
  }
  
  .about-text {
    max-width: 600px;
    font-size: calc(12px + 0.5vw);
  }
  
  .about-text h2 {
    margin-bottom: 20px;
  }
  
  .about-text p {
    text-align: justify;
  }
  
  
  @media screen and (max-width: 768px) {
    .about-container {
        flex-direction: column;
        align-items: start;
    }
    .about-text {
        margin-left: 0;
        text-align: center;
    }
    .profile-pic {
        width: 100%;
        border-radius: 20%;  
      }
} 

/* Projects */
#projects h2{
  font-size: calc(20px + 1vw);
  margin-left: 2vw;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.project-card {
    background-color: #f8f9fa;
    border: 1px solid #e9ecef;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    overflow: auto;
}

.project-card img {
  width: 100%;
  height: 70%; /* or any height you desire */
  object-fit: cover;
  border-radius: 10px;
}

/* Contact */
#contact {
  margin-top: 50px;
  text-align: center;
}

#contact h2 {
  margin-bottom: 20px;
}

#contact p {
  margin-bottom: 20px;
}

.contact-methods {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contact-method {
  width: 200px;
  border: 1px solid #000;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.contact-method i {
  font-size: 24px;
  margin-right: 10px;
}

/* For smaller screens */
@media (max-width: 768px) {
  .contact-methods {
      flex-direction: column;
  }

  .contact-method {
      width: 80%;
      margin: 10px auto;
  }
}

